// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyCJNlKOrGxt19Ewv_MTH9XLb-JPlEOZMqI",
  authDomain: "finsenseai-834cf.firebaseapp.com",
  projectId: "finsenseai-834cf",
  storageBucket: "finsenseai-834cf.firebasestorage.app",
  messagingSenderId: "1089787327198",
  appId: "1:1089787327198:web:a847d5d61df1444849c84f"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);